<%if client_signed_in? %>
<nav class="navbar navbar-dark bg-dark">
  <h4 class="navbar-brand">Menú</h4>
  <h4 class="text-light bg-dark">Editar perfil <span class="sr-only">(current)</span></h4> <!-- Aqui seccion actual -->
  <button class="navbar-toggler" type="button" data-toggle="collapse"
  data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNav">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/residences">Propiedades <span class="sr-only">(current)</span></a><!-- Aqui seccion actual -->
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/buscador">Buscar</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/ayuda">Ayuda</a>
    </li>
  </ul>
</div>
</nav>
<%else%>
<%if administrator_signed_in?%>
<nav class="navbar navbar-dark bg-dark">
  <h4 class="navbar-brand" >Menú</h4>
  <h4 class="text-light bg-dark">Editar perfil <span class="sr-only">(current)
  </span></h4> <!-- Aqui seccion actual -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Inicio </a> 
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/residences">Propiedades <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/buscador">Buscar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/reservations">Reservas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/clients">Clientes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/ayuda">Ayuda</a>
      </li>
    </ul>
  </div>
</nav>
<%end%> 
<%end%> 
<div class="container">
<br>
<h1 class="text-dark" align="left">Editar Perfil</h1>
<hr>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  
 <div class="row">

    
  <div class="col">
   <%= f.label :nombre %>
    <%= f.text_field :nombre, placeholder: "Ingrese su nombre", class: "form-control" ,required: true%>
    </div>
    <div class="col">

    <%= f.label :apellido %>
    <%= f.text_field :apellido, placeholder: "Ingrese su apellido", class: "form-control",required: true%>
  </div>
  </div>

   <br>
<div class="row">
  <div class="col">
     <%= f.label :fechaNac, 'Fecha de Nacimiento' %>
     <%= f.text_field :fechaNac,type: 'date', class: "form-control",required: true%>
   </div>
    <div class="col">
    <%= f.label :DNI %>
    <%= f.number_field :dni, placeholder: "Ingrese su documento", class: "form-control",required: true%>
  </div>
    
  </div>
  <br>
  

  <div class="row">  
     <div class="col">
     <%= f.label :marcaTarj, 'Marca de Tarjeta' %>
     <%= f.text_field :marcaTarj, class: "form-control",required: true%>
   </div>
     <div class="col">
     <%= f.label :numTarj, 'Número de Tarjeta' %>
     <%= f.number_field :numTarj, class: "form-control",required: true%>
   </div>
       <div class="col">
     <%= f.label :fechaVencTarj, 'Fecha de Vencimiento' %>
     <%= f.text_field :fechaVencTarj,type: 'date', class: "form-control",required: true%>
   </div>
   </div>
   <br>

  <h5 class="text-dark">Cuenta de HSH: </h5>
  <hr>
   <div class="row">
    <div class="col">  
  <div class="field">
    <%= f.label :email, 'Email'  %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Ingrese su email", class: "form-control" %>
    <br>
  </div>
     </div>
   </div>
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Falta confirmacion de: <%= resource.unconfirmed_email %></div>
  <% end %>
     <div class="row">
     <div class="col">
  <div class="field">
    <input type="checkbox" id="box" /><%= f.label :confirm, 'Cambiar contraseña?' %><br />
    <%= f.label :password, 'Contraseña' %> <br />
    <%= f.password_field :password, placeholder: "Ingrese su contraseña nueva", class: "form-control",required: true, disabled:true%>
    <% if @minimum_password_length %>
      <em><%= @minimum_password_length %> caracteres minimo</em>
    <% end %>
  </div>
     <br>
   </div>
 </div>
   <div class="row">
    <div class="col">
  <div class="field">
    <%= f.label :password_confirmation, 'Confirmar contraseña' %><br />
    <%= f.password_field :password_confirmation, placeholder: "Ingrese su contraseña nueva de vuelta", class: "form-control",required: true, disabled:true%>
  </div>
  <br>
   </div>
 </div>
 <script>
  document.getElementById('box').onchange = function() {
    document.getElementById('client_password').disabled = !this.checked;
    document.getElementById('client_password_confirmation').disabled = !this.checked;
  };
 </script>
  <div class="field">
    <%= f.label :current_password, 'Contraseña actual' %> <br />
    <%= f.password_field :current_password, placeholder: "introduzca la contraseña anterior", class: "form-control",required: true  %>
  </div>

  <br />
  <div class="actions">
    <%= f.submit "Guardar Edicion", class: "btn btn-primary" %>
    <%= link_to "Cancelar", root_path , class: "btn btn-warning"%>
  </div>
<% end %>
</div>
