  <div class="card">
  	<div class="shadow p-3 mb-5 bg-white rounded">
  		<div class="card-body">
  			<h5 class="card-title">Editando estado de <%=@residence.nombre%> para la fecha:<%=@week.inicio.strftime("%d/%m/%Y")%> </h5>
  			<p class="card-text">Estado actual: <%=@week.estado%></p>
  			<form action=<%= residence_change_path(@residence)%>>
  				<input type="hidden" name="residence_id" value=<%=@residence.id%> />
  				<input type="hidden" name="inicio" value=<%=@week.inicio%> />
  				<div class="row">
  					<div class="col-auto">
  						<div class="input-group mb-3">
  							<div class="input-group-prepend">
  								<span class="input-group-text" id="basic-addon1">Elegir estado</span>
  							</div>
  							<select class="form-control" id="estado" name="estado" aria-label="Estado" aria-describedby="basic-addon1">
  								<option>Libre</option>
  								<option>No disponible</option>
  								<option>Subasta</option>
  								<option>Hot sale</option>
  							</select>
  						</div>
  					</div>
  				</div>
  				<div class="row">
  					<div class="col-auto">
  						<div class="input-group mb-3">
  							<div class="input-group-prepend">
  								<span class="input-group-text" id="addon2">Elegir precio(si se quiere cambiar a hot sale)</span>
  							</div>
  							<input type="number" class="form-control" name="precio" id="precio" aria-describedby="addon2"/>
  						</div>
  					</div>
  				</div>
  				<div class="row">
  					<div class="col">
  						<button type="submit" class="btn btn-primary">Cambiar estado</button>
  						<a href="/residences" class="btn btn-secondary">Volver</a>
  					</div>
  				</div>
  			</form>
  		</div>
  	</div>
  </div>	